<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<!-- <div class="show-page">
  <div class="show-banner">
    <div class="show-text"> -->
      <h1 class="my-1">Search hotels</h1>
      <h5 class="mb-5">Find a <strong>Hotel</strong> near you</h5>
       Search for superheroes
      <%= form_tag hotels_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form",
          placeholder: "Find a hotel"
        %>
        <%= submit_tag "Search", class: "my-4 btn-solid btn-clean-border" %>
      <% end %>
      <!-- Commented out "Back" button -->
    <%= link_to 'Back', root_path, class: "btn-solid" %>
   <!--  </div>
  </div> -->
<div
  id="map"
  style="width: 60%;
  height: 40vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


  <!-- <div class="container heroes-container mt-5 pb-5"> -->
    <% @hotels.each do |hotel| %>
      <!-- <div class="hero-card mb-2">

        <div class="card-trip" style="position: relative;"> -->
          <%= link_to "", hotel_path(hotel), class: "card-clickable" %>

          <!-- <div class="card-trip-infos">
            <div> -->
              <h2><%= link_to hotel.name, hotel%></h2>
              <p id="text"><%= hotel.address %></p>
            <!-- </div> -->
            <h2 class="card-trip-pricing">$<%= link_to number_with_precision(hotel.stars, :precision => 2, :delimiter => ',') %></h2>

        <!-- </div> -->

      <!-- </div> -->
    <% end %>


 <!--  </div>
</div>


  </div>
 -->
